doctype html
html
  head
    title MyProject
    meta charset="utf-8"
    link href='./assets/css/slider.css' rel='stylesheet' type='text/css'
    link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'
  body
    a#group1
    a#group2
    a#group3
    a#group4
    .header
      .menu-item
        a id="menu1" href="#group1" be the change
      .menu-item
        a id="menu2" href="#group2" eat clean
      .menu-item
        a id="menu3" href="#group3" be active
      .menu-item
        a id="menu4" href="#group4" skills
    .parallax
      #group1.parallax_group
        .parallax_layer.parallax_layer-back
          .bg1
        .parallax_layer.parallax_layer-base
          .section1
            h1 "Be the change you wish to see in the world."
          
        .parallax_layer.parallax_layer-fore
          #logobox
              
      #group2.parallax_group
        .parallax_layer.parallax_layer-base
          .section2
            .boxcontainer
              .box#box1
              .box#box2
              .box#box3
              .box#box4
              .box#box5

        .parallax_layer.parallax_layer-fore
          .fore2
            .boxcontainer
              .box#box6
              .box#box7
              .box#box8
              .box#box9
            .textbox
              .fore2-text
                h1
                  |
                  span VEGAN. 
                  |For the People. For the Animals. For the Planet.
              
      
      #group3.parallax_group
        .parallax_layer.parallax_layer-back
          .back3
          .back3-text
            h1 
              |UNLEASH YOUR 
              span POTENTIAL
              |.
        .parallax_layer.parallax_layer-base
          .base3-logo
          .base3
            .base3-img
        .parallax_layer.parallax_layer-deep
          .deep3
            |THE PAIN YOU FEEL TODAY WILL BE THE 
            span STRENGTH 
            |YOU FEEL TOMORROW. / IF YOU REALLY WANT SOMETHING, THEN 
            span GO FOR IT 
            |! PERIOD. / STOP WISHING. START 
            span DOING
            |. / THE ONLY THING STANDING BETWEEN YOU AND YOUR 
            span GOAL 
            |IS THE BULLSHIT STORY YOU KEEP TELLING YOURSELF AS TO WHY YOU CAN'T ACHIEVE IT. / 
            span BE
            |LIEVE IN 
            span YOU
            |RSELF. / WINNERS DON'T WAIT FOR CHANCES. THEY 
            span TAKE 
            |THEM. / IF YOU DON'T CHASE YOUR 
            span DREAMS 
            |YOU WILL NEVER CATCH THEM. / GOOD THINGS COME TO THOSE WHO 
            span GO OUT 
            |AND FUCKING EARN IT. / CHOOSE TO BE 
            span OPTIMISTIC
            |. IT FEELS BETTER. / STRENGTHEN YOUR 
            span MIND 
            |IF YOU WANT TO STRENGTHEN YOUR BODY. / IT NEVER GETS EASIER. YOU JUST GET 
            span STRONGER
            |. / DON'T STOP WHEN YOU'RE TIRED. STOP WHEN YOU'RE 
            span DONE
            |. / OBSESSED IS A WORD THE LAZY USE TO DESCRIBE THE 
            span DEDICATED
            |. / 
            span DO
            |N'T QU
            span IT
            |. / FIRST THEA ASK US WHY WE DO IT, THEN THEY WILL ASK US HOW 
            span WE DID IT
            |. / DON'T LET PEOPLE WITH SMALL MINDS CONVINCE YOU THAT YOUR DREAMS ARE TO BIG. / 
            span START 
            |WHERE YOU ARE. 
            span USE 
            |WHAT YOU HAVE. 
            span DO 
            |WHAT YOU CAN. / OUR GREATEST 
            span GLORY 
            |LIES NOT IN NEVER FALLING, BUT IN 
            span RISING 
            |EVERY TIME WE FALL. / DISCIPLINE. WILLPOWER. DEDICATION. MOTIVATION. 
            span SUCCESS
            |. / LIFE IS NOT ABOUT FINDING YOURSELF. IT'S ABOUT 
            span CREATING YOURSELF
            |YOURSELF. / YOUR 
            span FUTURE 
            |IS CREATED BY WHAT YOU DO TODAY. NOT TOMORROW. / IF IT DOESN'T CHALLENGE YOU IT DOESN'T 
            span CHANGE 
            |YOU. / LIFE 
            span BEGINS 
            |AT THE END OF YOUR COMFORT ZONE. / THE PAIN YOU FEEL TODAY WILL BE THE 
            span STRENGTH 
            |YOU FEEL TOMORROW. / IF YOU REALLY WANT SOMETHING, THEN 
            span GO FOR IT 
            |! PERIOD. / STOP WISHING. START 
            span DOING
            |. / THE ONLY THING STANDING BETWEEN YOU AND YOUR 
            span GOAL 
            |IS THE BULLSHIT STORY YOU KEEP TELLING YOURSELF AS TO WHY YOU CAN'T ACHIEVE IT. / 
            span BE
            |LIEVE IN 
            span YOU
            |RSELF. / WINNERS DON'T WAIT FOR CHANCES. THEY 
            span TAKE 
            |THEM. / IF YOU DON'T CHASE YOUR 
            span DREAMS 
            |YOU WILL NEVER CATCH THEM. / GOOD THINGS COME TO THOSE WHO 
            span GO OUT 
            |AND FUCKING EARN IT. / CHOOSE TO BE 
            span OPTIMISTIC
            |. IT FEELS BETTER. / STRENGTHEN YOUR 
            span MIND 
            |IF YOU WANT TO STRENGTHEN YOUR BODY. / IT NEVER GETS EASIER. YOU JUST GET 
            span STRONGER
            |. / DON'T STOP WHEN YOU'RE TIRED. STOP WHEN YOU'RE 
            span DONE
            |. / OBSESSED IS A WORD THE LAZY USE TO DESCRIBE THE 
            span DEDICATED
            |. / 
            span DO
            |N'T QU
            span IT
            |. / FIRST THEA ASK US WHY WE DO IT, THEN THEY WILL ASK US HOW 
            span WE DID IT
            |. / DON'T LET PEOPLE WITH SMALL MINDS CONVINCE YOU THAT YOUR DREAMS ARE TO BIG. / 
            span START 
            |WHERE YOU ARE. 
            span USE 
            |WHAT YOU HAVE. 
            span DO 
            |WHAT YOU CAN. / OUR GREATEST 
            span GLORY 
            |LIES NOT IN NEVER FALLING, BUT IN 
            span RISING 
            |EVERY TIME WE FALL. / DISCIPLINE. WILLPOWER. DEDICATION. MOTIVATION. 
            span SUCCESS
            |. / LIFE IS NOT ABOUT FINDING YOURSELF. IT'S ABOUT 
            span CREATING YOURSELF
            |YOURSELF. / YOUR 
            span FUTURE 
            |IS CREATED BY WHAT YOU DO TODAY. NOT TOMORROW. / IF IT DOESN'T CHALLENGE YOU IT DOESN'T 
            span CHANGE 
            |YOU. / LIFE 
            span BEGINS 
            |AT THE END OF YOUR COMFORT ZONE.
      
      
      #group4.parallax_group
        .parallax_layer.parallax_layer-base
          .section4
          .slider
            .left data-slider="prev"
            .right data-slider="next"
            ul.slides
              li.slide data-slide="slide1"
                h1
                  |walk, run, 
                  span FLY...    
              li.slide data-slide="slide2"
                h1
                  |talk, count, 
                  span READ/WRITE...
              li.slide data-slide="slide3"
                h1 3
              li.slide data-slide="slide4"
                h1 4
          
    script src='./assets/js/vendor/jquery.js'
    script src='./assets/js/slider.js'